QMainWindow {
    background-color: #2b2b2b;
}
QTextEdit {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 10px;
    font-family: 'Courier';
}
QMenuBar {
    background-color: #000000;
    color: #ffffff;
}
QMenuBar::item {
    background-color: transparent;
    padding: 5px 10px;
}
QMenuBar::item:selected {
    background-color: #555555;
}